<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Add User</h2>
      <app-add-user></app-add-user>
    </div>
    <div class="col-md-6">
      <h2>Show User</h2>
      <app-show-user></app-show-user>
    </div>
  </div>
</div>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">



      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">E-mail</label>
        <input #email type="email" class="form-control" id="exampleInputPassword1">
      </div>



      <button type="submit" class="btn btn-primary" >Get Emial</button>

  </div>

</body>
</html> -->

<router-outlet></router-outlet>
